.headerBox {
  display: flex;
  flex-direction: row-reverse;
}
.iconBox {
  width: 85px;
  cursor: pointer;
}
.userName {
  margin-left: 10px;
}
.logout {
  margin-left: 5px;
}
.userIcon {
  background-color: #1890ff;
}
