.logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  cursor: pointer;
}
.logoBox img {
  width: 32px;
  height: 32px;
}
.logoBox span {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin-left: 15px;
  animation: fade-in;
  animation-duration: 1s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.collapseBox {
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 14px;
}
.collapseIcon {
  font-size: 20px;
  color: #ffffff;
}
