body {
  background: #fff;
  font-family: Arial, "Microsoft YaHei UI", "Microsoft YaHei", SimSun,
    "Segoe UI", Tahoma, Helvetica, sans-serif !important;
  position: relative;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/*滚动轴*/
::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #1890ff;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: #ecf0f5;
}
